<h1>Alerta</h1>
<p>Id Alerta:</p>
<p><%= @alert.id%></p>
<p>Nivel del Rio:</p>
<p><%= @alert.river_level %></p>
<p>Descripción:</p>
<p><%= @alert.description %></p>
<p>Mensaje:</p>
<p><%= @alert.message %></p>
<p><%= link_to "Indice Alertas", alerts_path  %></p>

